<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
		<add key="defaultPushSource" value="http://nuget.palow.org/v3/index.json" />
	</config>
	<packageSources>
		<add key="palow NuGet" value="http://nuget.palow.org/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>